<div class="inbox" fxLayout="column">
  <div class="header mat-elevation-z2"></div>
    <div  fxLayoutAlign="center center" style="position:relative; bottom: -34px;">
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
              <li><a matTooltip="Ver mi Encuesta" class="btn-floating red" (click)="abrirModalVistaPrevia()"><i class="material-icons">insert_chart</i></a></li>
              <li><a matTooltip="Descargar Encuesta" class="btn-floating yellow darken-1" (click)="descargarEncuesta()"><i class="material-icons">format_quote</i></a></li>
            </ul>
          </div>
    </div>
    <mat-card fxFlex="100%">
      <mat-card-header>
        <mat-card-title>DISEÑO DE LA ENCUESTA</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
          <app-diseno></app-diseno>
      </mat-card-content>
    </mat-card>
</div>