.favorite{
    position:absolute;
    top:120px;
   
   }
   .favoriteText{
       position:absolute;
       left:34px;
       top:15px;
   }
   .thumbsUp{
       position:absolute;
       left:130px;
       top:120px;
   
   }
   .thumbsUpText{
       position:absolute;
       left:40px;
       top:17px;
   
   }
   .thumbsDown{
       position:absolute;
       left:80px;
       top:120px;
   
   }
   .thumbsDownText{
       position:absolute;
       top:16px;
       left:-8px;
   
   }