<div *ngIf="currentUpload">
  <mz-progress [percentage]="currentUpload?.progress" [progressClass]="'green accent-3'"></mz-progress>
   Subido:{{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>


<div class="box_input" appFileHandled (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)">
    <label for="file"><strong>Arrastre un elemento hacia este cuadro</strong></label>
</div>
<input class="box_file" type="file" (change)="detectedFiles($event)">
<button mz-button [disabled]="!selectedFiles" (click)="uploadSingle()">
    Subir Foto
</button>

