<section id="main">
    {% include "app/notificaciones.html" %}

    <aside id="s-main-menu" class="sidebar">
        <div class="smm-header">
            <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
        </div>

        <ul class="smm-alerts">
            <li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                <i class="zmdi zmdi-email"></i>
            </li>
            <li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                <i class="zmdi zmdi-notifications"></i>
            </li>
            <li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                <i class="zmdi zmdi-view-list-alt"></i>
            </li>
        </ul>
        <ul class="main-menu">
            <li class="sub-menu">
                        <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i>Portal</a>
                        <ul>
                            <li class="active"><a href="/portalEncuestas">Encuestas</a></li>
                            <li><a href="/portalPreguntas">Preguntas</a></li>
                        </ul>
            </li>
            <li class="sub-menu">
                        <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i>Encuestas</a>
                        <ul>
                            <li><a href="/crearEncuesta">Crear</a></li>
                            <li><a href="/administrarEncuesta">Administrar</a></li>
                            <li><a href="/discusionesEncuesta">Discusiones</a></li>
                        </ul>
            </li>

            <li class="sub-menu">
                        <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i>Preguntas</a>
                        <ul>
                            <li><a href="/proponerPregunta">Proponer</a></li>
                            <li><a href="/discusionesPregunta">Discusiones</a></li>
                            <li><a href="/administrarPregunta">Administrar</a></li>
                        </ul>
            </li>

            <li class="sub-menu">
                        <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i>Usuarios</a>
                        <ul>
                            <li><a href="/listarColaboradores">Colaboradores</a></li>
                            <li><a href="/encuestasCompartidas">Encuestas Compartidas</a></li>
                        </ul>
            </li>
        </ul>
    </aside>
</section>