<!-- Se cargaran las encuestas que han cargado los usuarios en la aplicacion
con el objetivo que puedas comentarlas o crear un issue de dicha encuesta -->

{% extends "app/index.html" %}

{% block title %}Portal Encuestas{% endblock %}

{% block header %}
    {% include "app/header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "app/menu_lateral.html" %}
{% endblock %}


{% block content %}
 <!-- aqui va el contenido propio del content de Portal -->



{% endblock %}


{% block script_portal %}
<script src="{% static 'js/actions.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
{% endblock %}