<nav id="sidebar" class="sidebar-nav light-sidebar">
  <div class="sidebar-inner content-scroll">
      <div class="logo-header">
          <a href="#">
              <h6>Open Source Survey</h6>
          </a>
      </div>
      <ul class="metismenu" id="menu">
          <li class="nav-heading">
              <span>Principal</span>
          </li>
          <a [routerLink]="['/home','tablero']" style="color:black">
              <i class="fas fa-home"></i>
              <span class="nav-text">Tablero de Actividades</span>
          </a>
          <li>
              <a class="has-arrow active" href="#" aria-expanded="false">
                  <i class="fas fa-coffee"></i>
                  <span class="nav-text">Portal</span>
              </a>
              <ul aria-expanded="false" class="metis-secondary">
                  <li class="active">
                      <a [routerLink]="['/home','portalPregunta']">Preguntas</a>
                  </li>
                  <li>
                      <a href="#">Encuestas</a>
                  </li>

              </ul>
          </li>

          <li class="nav-heading">
              <span>Opciones del usuario</span>
          </li>
          <li>
              <a class="has-arrow" href="#" aria-expanded="false">
                  <i class="far fa-copy"></i>
                  <span class="nav-text">Encuestas</span>
              </a>
              <ul aria-expanded="false" class="metis-secondary">
                  <li>
                      <a href="#">Nueva Encuesta</a>
                  </li>
                  <li>
                      <a href="#">lista de Encuestas</a>
                  </li>
                  <li>
                      <a href="#">lista de Discusiones</a>
                  </li>
              </ul>
          </li>
          <li>
              <a class="has-arrow" href="#" aria-expanded="false">
                  <i class="fas fa-pencil-alt"></i>
                  <span class="nav-text">Preguntas</span>
              </a>
              <ul aria-expanded="false" class="metis-secondary">
                  <li>
                      <a href="#">Nueva Pregunta
                      </a>
                  </li>
                  <li>
                      <a href="#">lista de Encuesta</a>
                  </li>
                  <li>
                      <a href="#">lista de Discusiones</a>
                  </li>
              </ul>
          </li>
          <li class="nav-heading">
              <span>Usuario</span>
          </li>
          <li>
              <a class="has-arrow" href="#" aria-expanded="false">
                  <i class="fas fa-users"></i>
                  <span class="nav-text">Colaboradores</span>
              </a>
              <ul aria-expanded="false" class="metis-secondary">
                  <li>
                      <a href="page-login.html">Ver Colaboradores</a>
                  </li>
                  <li>
                      <a href="page-register.html">Compartir mis Encuestas</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#" aria-expanded="false">
                  <i class="far fa-chart-bar"></i>
                  <span class="nav-text">Ver Resultados de Encuestas</span>
              </a>
          </li>
          <li class="nav-heading">
              <span>Miembros del comite</span>
          </li>
          <li>
              <a href="#" aria-expanded="false">
                  <i class="fas fa-inbox"></i>
                  <span class="nav-text">Bandeja de Preguntas</span>
              </a>
          </li>
      </ul>

  </div>

</nav>


