{% extends "app/index.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login" data-lbg="teal">
        <!-- Login -->
            <div class="l-block toggled" id="l-login">
                <div class="lb-header palette-Teal bg">
                    <i class="zmdi zmdi-account-circle"></i>
                    Autentícate por medio de Espol
                </div>

                <div class="lb-body">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" id="inputEmailEspol" class="input-sm form-control fg-input">
                            <label class="fg-label">Correo Electronico</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="password" id="inputPasswordEspol" class="input-sm form-control fg-input">
                            <label class="fg-label">Contraseña</label>
                        </div>
                    </div>

                    <button class="btn palette-Teal bg registrarseEspol">Registrarse</button>

                    <div class="m-t-20">
                        <a data-block="#l-google" data-bg="blue" class="palette-Teal text d-block m-b-5" href="">Autenticarse a traves de Google</a>
                    </div>
                </div>
            </div>
         <div class="l-block" id="l-google">
             <div class="lb-header palette-Blue bg">
                    <i class="zmdi zmdi-account-circle"></i>
                    Autentícate por medio de Google
             </div>
              <div class="lb-body">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" id="inputEmailGoogle" class="input-sm form-control fg-input">
                            <label class="fg-label">Correo Electronico</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="password" id="inputPasswordGoogle" class="input-sm form-control fg-input">
                            <label class="fg-label">Contraseña</label>
                        </div>
                    </div>

                    <button class="btn palette-Blue bg registrarseGoogle">Registrarse</button>

                    <div class="m-t-30">
                        <a data-block="#l-login" data-bg="teal" class="palette-Blue text d-block m-b-5" href="">Autenticarse a traves de Espol</a>
                    </div>
                </div>
         </div>
      </div>
{% endblock %}


