<div fxLayout="row" fxLayoutAlign="center stretch">
  <button class="search-button" mat-button (click)="open()">
    <mat-icon>search</mat-icon>
  </button>
  <mat-form-field class="search" floatingPlaceholder="false" [class.search-open]="isOpen">
    <input  placeholder="Busqueda por categoria de la pregunta" [(ngModel)]="textoBusqueda" [formControl]="searchField"
      #input (blur)="close()" matInput>
  </mat-form-field>
</div>

<div *ngIf="!finished" >
  <mat-spinner></mat-spinner>
</div>

<div  *ngIf="finished">
<div *ngFor="let pregunta of preguntas" fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;" >
  <mat-card fxFlex="50%">
    <mat-card-header>
      <img mat-card-avatar [src]="pregunta?.urlUsuario">
      <mat-card-title>{{ pregunta?.creador }}</mat-card-title>
      <mat-card-subtitle>categoria: {{ pregunta?.topicos.texto }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="pregunta?.etiquetas.texto === 'radio' || pregunta?.etiquetas.texto === 'casilla' || pregunta?.etiquetas.texto === 'lista-desplegable'">Tipo De pregunta:Opciones Multiples</mat-card-subtitle>
      <mat-card-subtitle *ngIf="pregunta?.etiquetas.texto === 'si/no'">Tipo De pregunta:Si/No</mat-card-subtitle>
      <mat-card-subtitle *ngIf="pregunta?.etiquetas.texto === 'libre'">Tipo De pregunta:Libre</mat-card-subtitle>
      <mat-card-subtitle *ngIf="pregunta?.etiquetas.texto === 'puntaje'">Tipo De pregunta:Rating de 5 estrella</mat-card-subtitle>
      <span fxFlex></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="verPregunta(pregunta?._id)">
          <mat-icon>remove_red_eye</mat-icon>
          <span>Ver pregunta</span>
        </button>
        <button mat-menu-item (click)="crearDiscusion(pregunta?._id)">
          <mat-icon>open_in_new</mat-icon>
          <span>Crear Discusion</span>
        </button>
        <button mat-menu-item (click)="validarPregunta(pregunta?._id)" *ngIf="rol == 'comite'">
          <mat-icon>open_in_new</mat-icon>
          <span>Validar Pregunta</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      {{ pregunta?.descripcion }}
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row">
        <button mat-icon-button (click)="verListaDiscusiones(pregunta?._id)">
          <mat-icon>bug_report {{ pregunta?.numeroDiscusiones }} </mat-icon>
          <p class="estiloDiscusiones">{{ pregunta?.numeroDiscusiones }} Discusiones</p>
        </button>
        <span fxFlex></span>
        <button mat-icon-button (click)="verListadoComentarios(pregunta?._id)">
          <mat-icon>comment</mat-icon>
          <p class="estiloComentarios"> {{ pregunta?.numeroComentarios}} Comentarios</p>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <br>

</div>

<br>

<br>
<ul class="pagination">
    <li class="waves-effect">
      <a (click)="nextPage(1)">1</a>
    </li>
    <li class="waves-effect">
        <a (click)="nextPage(2)">2</a>
    </li>
    <li class="waves-effect">
        <a (click)="nextPage(3)">3</a>
    </li>
    <li class="waves-effect">
        <a (click)="nextPage(4)">4</a>
    </li>
    <li class="waves-effect">
          <a (click)="nextPage(5)">5</a>
    </li>
    <li class="waves-effect"><a (click)="next()"><i class="material-icons">chevron_right</i></a></li>
</ul>
</div>