<!-- este template muestra los issues que he creado
Nota .- Este template se adaptara si es una encuesta o una pregunta -->

        <div class="list-group lg-alt c-overflow">
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CS</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Pregunta 1 tiene faltas ortograficas, deberian corregirla</div>
                    <small class="lgi-text">Titulo:Criptografia Simetrica Topicos:Computer Science, Created By:David Villa</small>
                </div>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">La pregunta 2 esta fuera del contexto, deberian reformular la pregunta</div>
                    <small class="lgi-text">Titulo:Balanceo,Topicos:Chemistry, Created By:Carmen</small>
                </div>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">PH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">La pregunta 3 deberian cambiarla, uso de muchos tecnicos desconocidos</div>
                    <small class="lgi-text">Titulo:Movimiento Parabolico,Topicos:Physics, Created By:Julio</small>
                </div>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">PH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Aunque la pregunta 4 esta bien formulada, las respuestas son ambiguas</div>
                    <small class="lgi-text">Titulo:Movimiento Rectilineo,Topicos:Phisics, Created By:David</small>
                </div>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Esta pregunta deberias cambiarla por otra donde no uses terminos ambiguos</div>
                    <small class="lgi-text">Titulo:Movimiento Circular,Topicos:Chemistry, Created By:Raphael</small>
                </div>
            </a>
        </div>
