<!-- este template corresponde a los issues que han sido aceptados por parte del comite si se refiere a una pregunta
o si se refiere a una encuesta -->

<!-- aqui tambien se podra ver el historial de cambios -->

        <div class="list-group lg-alt c-overflow">
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CS</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Criptografia Simetrica</div>
                    <small class="lgi-text">Topicos:Computer Science, Created By:David Villa</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>150</span>
                        <span><i class="zmdi zmdi-time-restore"></i>30</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">TE</div>
                        <div class="avatar-char">PR</div>
                        <div class="avatar-char">JE</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Balanceo de Carga</div>
                    <small class="lgi-text">Topicos:Chemistry, Created By:Carmen</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>200</span>
                        <span><i class="zmdi zmdi-time-restore"></i>20</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">KO</div>
                        <div class="avatar-char">PE</div>
                        <div class="avatar-char">JE</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">PH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Movimiento Rectilineo</div>
                    <small class="lgi-text">Topicos:Phisics, Created By:Julio</small>
                </div>
                 <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>100</span>
                        <span><i class="zmdi zmdi-time-restore"></i>10</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">EO</div>
                        <div class="avatar-char">PV</div>
                        <div class="avatar-char">RC</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">PH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Movimiento Uniforme</div>
                    <small class="lgi-text">Topicos:Phisics, Created By:David</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>70</span>
                        <span><i class="zmdi zmdi-time-restore"></i>60</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">TE</div>
                        <div class="avatar-char">PV</div>
                        <div class="avatar-char">JV</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Balanceo Quimico</div>
                    <small class="lgi-text">Topicos:Chemistry, Created By:Raphael</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>70</span>
                        <span><i class="zmdi zmdi-time-restore"></i>60</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">SP</div>
                        <div class="avatar-char">EV</div>
                        <div class="avatar-char">TE</div>
                    </li>
                </ul>
            </a>
        </div>
