<!--  este template corresponde a los issues que han sido rechazados por parte del comite si es una pregunta o
por parte del creador si se debe a una encuesta -->


        <div class="list-group lg-alt c-overflow">
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CS</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Criptografia Asimetrica:No se utilizaron terminos correctos en el diseno de la pregunta</div>
                    <small class="lgi-text">Topicos:Computer Science, Created By:David Villa</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>200</span>
                        <span><i class="zmdi zmdi-close-circle-o"></i>2</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">KO</div>
                        <div class="avatar-char">PE</div>
                        <div class="avatar-char">JE</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Balance de Carga:Nunca se llego a una conclusión que términos serián más adecuado usar en la pregunta</div>
                    <small class="lgi-text">Topicos:Chemistry, Created By:Carmen</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>200</span>
                        <span><i class="zmdi zmdi-close-circle-o"></i>2</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">KO</div>
                        <div class="avatar-char">PE</div>
                        <div class="avatar-char">JE</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">PH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Movimiento Curvilineo: Uso excesivo de terminos matematicos sin ninguna breve descripcion</div>
                    <small class="lgi-text">Topicos:Phisics, Created By:Julio</small>
                </div>
                 <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>100</span>
                        <span><i class="zmdi zmdi-close-circle-o"></i>1</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">EO</div>
                        <div class="avatar-char">PV</div>
                        <div class="avatar-char">RC</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">PH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Movimiento Parabolico:Nunca se corrigio los terminos ambiguos que existian en la encuesta</div>
                    <small class="lgi-text">Topicos:Phisics, Created By:David</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>70</span>
                        <span><i class="zmdi zmdi-close-circle-o"></i>2</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">TE</div>
                        <div class="avatar-char">PV</div>
                        <div class="avatar-char">JV</div>
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item media">
                <div class="pull-left">
                    <div class="avatar-char">CH</div>
                </div>
                <div class="media-body">
                    <div class="lgi-heading">Movimiento Rectilineo:La pregunta no fue depurada en el contenido de las respuestas que habian</div>
                    <small class="lgi-text">Topicos:Chemistry, Created By:Raphael</small>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span><i class="zmdi zmdi-comments"></i>70</span>
                        <span><i class="zmdi zmdi-close-circle-o"></i>2</span>
                    </li>
                    <li class="wa-users">
                        <div class="avatar-char">SP</div>
                        <div class="avatar-char">EV</div>
                        <div class="avatar-char">TE</div>
                    </li>
                </ul>
            </a>
        </div>
