
                <mz-input-container>
                        <i mz-icon-mdi mz-input-prefix
                            [icon]="'format-list-bulleted'">
                        </i>
                        <input  mz-input
                                #valorInputListaDesplegable
                                (keyup.enter)="addRespuesta()"
                                id="lista-box"
                                placeholder="respuesta"
                                type="text">
                    </mz-input-container>
        