<div class="row">
  <div class="col-md-4 mb30">
    <div class="card">
      <div class="card-content pt20 pb20 profile-header">
        <img src="images/user3.jpg" alt="" class="img-fluid rounded-circle">
        <h4 class="card-title text-center mb20">Nombres del usuario</h4>
        <p>
          Aqui se describe los roles del usuario
        </p>
        <hr>
        <div class="row">
          <div class="col-md-4 mb20">
            <h5>0</h5>
            <h6 class="text-small text-muted">Preguntas Diseñadas</h6>
          </div>
          <div class="col-md-4 mb20">
            <h5>0</h5>
            <h6 class="text-small text-muted">Encuestas Creadas</h6>
          </div>
          <div class="col-md-4 mb20">
            <h5>0</h5>
            <h6 class="text-small text-muted">Comentarios realizados</h6>
          </div>

          <div class="skill-bar mb20 clearfix">
              <span>Correo</span>
              <label for="correo"></label>
          </div>
          </div><!--skill bar-->
        </div>
        <hr>
      </div>
      <!--content-->
    </div>
  </div>
  <div class="col-md-8 mb30">
    <div class="card">
      <div>
        <!-- Nav tabs -->
        <ul class="nav tabs-admin" role="tablist">
          <li role="presentation" class="nav-item">
            <a class="nav-link active" href="#t1" aria-controls="t1" role="tab" data-toggle="tab">Preguntas Creadas Recientemente</a>
          </li>
          <li role="presentation" class=" nav-item">
            <a class="nav-link" href="#t2" aria-controls="t2" role="tab" data-toggle="tab">Encuestas Creadas Recientemente</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content admin-tab-content pt30">
          <div role="tabpanel" class="tab-pane active show" id="t1">
            <ul class="activity-list list-unstyled">
              
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane" id="t2">
            <ul class="activity-list list-unstyled">
              
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
