<app-menu-desplegable></app-menu-desplegable>
<div class="main-toolbar mat-elevation-z2 colorFondo">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mz-button id="btn-sidenav-app" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span fxFlex></span>

  <button [fxHide]="true" [fxHide.gt-sm]="false" mat-button class="fullscreen-toggle" (click)="toggleFullscreen()">
    <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
    <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
  </button>
  <button mat-button>
    <span class="badge bg-danger">{{notificacionMensajesUsuarios}}</span>
    <mat-icon >notifications
    </mat-icon>
  </button>
  <button mat-button>
      <span class="badge bg-danger">{{notificacionAccionesUsuarios}}</span>
    <mat-icon >message
    </mat-icon>
  </button>
  <mz-dropdown [id]="'dropdown-Perfil'" [belowOrigin]="true" [constrainWidth]="true" [dropdownButtonId]="'btn-dropdown-Perfil'"
    [gutter]="2" [hover]="true" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item>
      <a href="#!">Mi cuenta</a>
    </mz-dropdown-item>
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item>
      <a href="#!">Tablero de actividades</a>
    </mz-dropdown-item>
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item>
      <a href="#!">Cerrar Sesion</a>
    </mz-dropdown-item>
  </mz-dropdown>

  <button id="btn-dropdown-Perfil">
      <span fxLayout="row" fxLayoutAlign="start center">
        <img class="avatar" >
        <span class="name" fxHide fxShow.gt-sm>Kevin Ortiz</span>
        <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
      </span>
    </button>




</div>
