<app-menu-desplegable></app-menu-desplegable>
<div class="main-toolbar mat-elevation-z2 colorFondo">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button  id="btn-sidenav-app" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <audio #audioMensaje>
    <source src="assets/audio/mensajes.mp3" type="audio/mp3">
  </audio>

  <audio #audioAccion>
    <source src="assets/audio/acciones.mp3" type="audio/mp3">
  </audio>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="500px" fxHide fxShow.gt-md>
    <app-search-bar-item-routing></app-search-bar-item-routing>
  </div>
  
  <span fxFlex></span>
  <div class="toolbar-button" fxLayout="row" fxLayoutAlign="start center" (clickOutside)="onClickOutside()">
  <button type="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen">
    <span class="badge bg-danger">{{notificacionMensajesUsuarios}}</span>
    <mat-icon >notifications</mat-icon>
  </button>
  
  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="card">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
          <div class="name">Mensajes</div>
          <div class="extra">Tu tienes {{notificacionMensajesUsuarios}} mensajes ahora</div>
        </div>
      </div>
      <div class="notification" fxLayout="row" fxLayoutAlign="start center" matRipple *ngFor="let mensaje of listaMensajes" >
        <img matListAvatar [src]="mensaje?.usuario_emisor[0].urlImage" class="circle">
        <h3 matLine> {{mensaje?.usuario_emisor[0].nombre}}</h3>
        <p matLine>
          <span>Creado:{{mensaje?.fecha_creacion | date: 'fullDate'}}</span>
        </p>
        <p matLine>
          <span>Mensaje: {{mensaje?.descripcion}}</span>
        </p>
        <p matLine>
          <span>Correo: {{mensaje?.usuario_emisor[0].correo}}</span>
        </p>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
  
  <div class="toolbar-button" fxLayout="row" fxLayoutAlign="start center" (clickOutside)="onClickOutsideAcciones()">
    <button type="button" mat-button (click)="toggleDropdownAcciones()" [class.open]="isOpenAcciones">
      <span class="badge bg-danger">{{notificacionAccionesUsuarios}}</span>
      <mat-icon >message</mat-icon>
    </button>
    
    <div class="dropdown mat-elevation-z1" [class.open]="isOpenAcciones">
      <div class="card">
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="title">
            <div class="name">Notificaciones</div>
            <div class="extra">Tu tienes {{notificacionAccionesUsuarios}} notificaciones ahora</div>
          </div>
        </div>
        <div class="notification" fxLayout="row" fxLayoutAlign="start center" matRipple *ngFor="let acciones of listaAcciones" >
          <p matLine>
            <span>Tipo Notificacion: {{acciones?.tipo}}</span>
          </p>
          <p matLine>
            <span>Creado:{{acciones?.fecha_creacion | date: 'fullDate'}}</span>
          </p>
          <p matLine>
            <span>Mensaje: {{acciones?.descripcion}}</span>
          </p>
          <p matLine>
            <span>Correo: {{acciones?.usuario_emisor[0].correo}}</span>
          </p>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  

  <mz-dropdown [id]="'dropdown-Perfil'" [belowOrigin]="true" [constrainWidth]="true" [dropdownButtonId]="'btn-dropdown-Perfil'"
    [gutter]="2" [hover]="true" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item>
      <a [routerLink]="['/home','micuenta']">Mi cuenta</a>
    </mz-dropdown-item>
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item>
      <a [routerLink]="['/home','tablero']">Tablero de actividades</a>
    </mz-dropdown-item>
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item>
      <a href="#!">Cerrar Sesion</a>
    </mz-dropdown-item>
  </mz-dropdown>

  <button id="btn-dropdown-Perfil">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" [src]="imagen">
      <span class="name" fxHide fxShow.gt-sm>{{nombre}}</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>
</div>
