<div *ngFor="let discusion of listadoDiscusiones " fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;" [ngSwitch]="discusion.estados">
  <mat-card fxFlex="50%">
      <img mat-card-image src="../../../../assets/img/revision.jpeg" *ngSwitchCase="'revision'">
      <img mat-card-image src="../../../../assets/img/rechazada.jpg" *ngSwitchCase="'rechazada'">
      <img mat-card-image src="../../../../assets/img/pregunta_aprobada.jpg" *ngSwitchCase="'aceptada'">
    <mat-card-header>
      <img mat-card-avatar [src]="discusion.urlUsuario">
      <mat-card-title>{{ discusion.titulo}}</mat-card-title>
      <mat-card-subtitle>{{ discusion.creador }}</mat-card-subtitle>
      <mat-card-subtitle>Creado:{{ discusion.fecha_creacion| date: 'fullDate'}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="discusion.fecha_cierre !== ''">
        Discusion Cerrada: {{ discusion.fecha_cierre }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Estados: {{ discusion.estados }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-chip-list class="tag">
          <mat-chip color="primary" selected="true" *ngFor="let item of discusion.etiquetas">
            {{item}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content fxLayout="column">
      <div [innerHtml]="discusion.descripcion"></div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <br>
    <br>
    <mat-card-actions>
      <div fxLayout="row">
      <button mat-icon-button (click)="verListadoComentarios(discusion._id)" class="btncomentarios">
          <mat-icon>comment</mat-icon>
          <p> {{ discusion.numeroComentarios}}</p>
        </button>
        <button mat-raised-button color="accent" *ngIf="idUserActive == discusion.creador_ID && discusion.fecha_cierre === '' && discusion.estados === 'revision'" (click)="showPopUp(discusion._id)">
          Cerrar Discusion
        </button>

      </div>
    </mat-card-actions>
  </mat-card>
  <br>
</div>

<swal #cerrarDiscusion title="Cerrar Discusion" text="Desea cerrar la discusion?, se le notificara al creador de la pregunta acerca
de dicha accion" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="cerrarIssue()">

</swal>

<swal #actualizacionCorrecta
        title="Discusion Actualizada"
        text="Discusion actualizada correctamente"
        type="success"
        [showConfirmButton]="true">

</swal>

<swal #actualizacionErronea
        title="Discusion no actualizada"
        text="Discusion no actualizada"
        type="error"
        [showConfirmButton]="true">

</swal>