<!-- Se cargaran el timeline de los cambios que se ha efectuado sobre determinada encuesta
esto le permitira visualizar al creador de la encuesta, los cambios que ha realizado
ya sea anadiendo preguntas,eliminando pregunta, cambiando texto , sobre una fecha determinada -->

{% extends "app/index.html" %}

{% block title %}Historial de Encuestas{% endblock %}


{% block header %}
    {% include "app/header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "app/menu_lateral.html" %}
{% endblock %}

{% block content %}
 <section id="content">
     <div class="container">
         <div class="c-header">
             <h2>Historial de cambios sobre la encuesta 1</h2>
         </div>
         <div class="card">
             <div class="action-header clearfix palette-Teal-400 bg">
                 <div class="ah-label hidden-xs palette-White text">Some text here</div>
                 <div class="ah-search">
                     <input type="text" placeholder="Buscar por Fecha" class="ahs-input">
                     <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                 </div>
             </div>

             <div class="card-body card-padding">
                            <div class="p-timeline">
                                <div class="pt-line c-gray text-right">
                                    <span class="d-block">2017</span>
                                    01/01
                                </div>

                                <div class="pt-body">
                                    <h2 class="ptb-title">La Encuesta 1 fue creada</h2>
                                </div>
                            </div>
                            </br>
                            </br>
                            <div class="p-timeline">
                                <div class="pt-line c-gray text-right">
                                    <span class="d-block">2017</span>
                                    02/01
                                </div>

                                <div class="pt-body">
                                    <h2 class="ptb-title">Se edito la encuesta 1</h2>
                                    </br>
                                    <h2 class="ptb-title">Pregunta 2 fue eliminada</h2>
                                    </br>
                                    <h2 class="ptb-title">Pregunta 3 fue eliminada</h2>
                                    </br>
                                </div>

                            </div>
                            </br>

                            <div class="p-timeline">
                                <div class="pt-line c-gray text-right">
                                    <span class="d-block">2017</span>
                                    03/01
                                </div>

                                <div class="pt-body">
                                    <h2 class="ptb-title">se edito la encuesta 1</h2>
                                    </br>
                                    <h2 class="ptb-title">Pregunta 4 fue eliminada</h2>
                                    </br>
                                    <h2 class="ptb-title">Pregunta 5 fue eliminada</h2>
                                    </br>
                                </div>
                            </div>
                        </div>
         </div>

     </div>

 </section>

{% endblock %}


{% block script_portal %}
<script src="{% static 'js/actions.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
{% endblock %}