.bodyDiseno{
    width: 100%;
    height: 100%;
}

.diseno{
    width: 500px;
    position: relative;
    height: 500px;
}


.logo{
    position: relative;
    left: 180px;
    bottom: -20px;
}

.eliminarLogo{
    position: relative;
    left: 200px;
    top: 20px;
}

.tituloEncuesta {
    position: relative;
    left: 60px;
    width: 430px;
}



.inputTituloEncuesta{
    width: 340px;
    position: relative;
    left: 10px;
}


.txtDescripcion{
    position: relative;
    left: -90px;
    bottom: -170px;
    width: 430px;
}

.preguntasEncuesta{
    position: relative;
    width: 480px;
    height: 195px;
    bottom: -160px;
    overflow-y: scroll;
}

.preguntasValidadas{
    position: relative;
    left: -119px;
    bottom: 12px;
    overflow-y: scroll;
}

.cardPreguntasNoDisponible{
    width: 650px;
    position: relative;
    bottom: 10px;
    left: 120px;
}
.cardPreguntasDisponible{
    width: 850px;
    position: relative;
    bottom: 50px;
    left: 130px;
}
mat-form-field{
    bottom: -120px;
    width: 400px;
    position: relative;
    right: 109px;
}

#descripcion_encuesta{
    width: 450px;
}

input.mat-chip-input{
    /* width: 150px; */
    width: 1px !important;
    margin: 3px !important;
    flex: 1px !important;

}
mat-tab-group{
    position: relative;
    left: 0px;
}

img{
    position: relative;
    left: 290px;
    bottom: -10px;
    width: 100px;
    border-radius: 50%;
}

.imagen{
    height: 150px;
}

#titulo-input{
    font-size: 30px;
    position: relative;
    left: 20px;
    width: 599px;
}

#chip{
    background-color: #02be6a;
    color: #fafafa;
}

:host {
    display: block;
    background: #fff url('/assets/img/backgrounds/2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
  }
  
  h1 {
    color: white;
    text-shadow: 0 0 10px black;
  }
  
  .container {
    width: 90%;
    padding: 100px 0 0;
    margin: 0 auto;
  }
  
  .list-container {
    width: 100%;
    margin: 24px;
  
    mat-list-item {
      background: white;
      position: relative;
      bottom: -45px;
    }
  
    .list {
      margin: 24px;
    }
  
    mat-list {
      padding-top: 0;
      max-width: 100%;
      overflow-y: scroll;
      height: 180px;
    }
  }
  
  mat-icon.left-right-compare {
    text-shadow: 0px 0px 20px #444;
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: white;
  }
  
  .small-list-item {
    padding-left: 6px;
    padding-right: 16px;
  }
