.contenedor-resp{
    margin-top: 5px;
    
}

.respuesta{
    border: 1px  green solid;
    padding-bottom: 230px;

}

h3{
    color: gray;
    position: relative;
    top: 90px;
    font-size: 22px;
    left: 59px;
}
.tamanoGuardar{
    font-size: 40px;
    
}

.guardarbtn{
    position: relative;
    left: 170px;
    width: 70px;
    height: 70px;
}

.opcionesPregunta{
    right: -450px;
    bottom: 20px;
    position: relative;
}
.anadirFoto{
    background-color: #02BE6A;
    color: white;
    width: 120px;
}

.eliminarFoto{
    background-color: red;
    color: white;
    width: 120px;

}
.anadirAccion{
    background-color: #02BE6A;
    color: white;
}

.eliminarAccion{
    background-color: red;
    color: white;
}