<div class="row">
  <div class="col-lg-5">
    <div class="card mb30">
      <div class="card-top">
        <h4 class="card-title">Tipos de Respuestas</h4>
      </div>
      <div class="card-content">
        <div class="form-group row">
          <label class="col-12">Casilla de Verficacion</label>
          <div class="col-md-9">
            <button class="btn btn-success" (click)="addTipoRespuesta('2')">
              <i class="far fa-check-square"></i>
              opcion 1
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12">Opciones multiples</label>
          <div class="col-md-9">
            <button class="btn btn-success" (click)="addTipoRespuesta('1')">
              <i class="far fa-check-circle"></i>
              opcion 2
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12">Seleccionar Si/No</label>
          <div class="col-md-9">
            <button class="btn btn-success" (click)="addTipoRespuesta('3')">
              <i class="fas fa-toggle-on"></i>
              Si/No
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12">Puntaje</label>
          <div class="col-md-9">
            <button class="btn btn-success" (click)="addTipoRespuesta('4')">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12">Texto</label>
          <div class="col-md-9">
            <button class="btn btn-success" (click)="addTipoRespuesta('6')">
              <i class="fas fa-font"></i>
              Texto de ejemplo
            </button>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-12">Lista desplegable</label>
          <div class="col-md-9">
            <button class="btn btn-success" (click)="addTipoRespuesta('5')">
              <i class="fas fa-list-ol"></i>
              Seleccionar la respuesta de una lista
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="col-lg-7 smart-forms contenedor-resp">
    <div class="card mb40">
      <div class="card-top">
        <h4 class="card-title">Descripcion de la pregunta</h4>
      </div>
      <div class="card-content">
        <div class="section">
          <label class="field prepend-icon">
            <textarea id="DescripcionPregunta" class="gui-textarea" #textDescriptionPregunta 
            placeholder="Ingrese la descripcion de una pregunta" (keyup)="addDescripcion(textDescriptionPregunta.value)">
            </textarea>
            <span class="field-icon">
              <i class="fas fa-font"></i>
            </span>
          </label>
        </div>
      </div>
      <h4 class="card-title text-center">Seccion de Respuesta</h4>
      <div class="card-content ">
        <div class="section respuesta" *ngIf="!existePregunta">
          <h3>Debe seleccionar un tipo de respuesta</h3>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta &&  CHECKBOX" >
          <button type="button" class="btn btn-outline-success mb5" (click)="addCasilla()">Añadir Respuesta</button>
          <button type="button" class="btn btn-outline-danger mb5" (click)="removeComponentCasilla()">Eliminar Respuesta</button>
          <hr>
          <template #casillaComponent></template>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta && RADIOBUTTON" >
            <button type="button" class="btn btn-outline-success mb5" (click)="addRadio()">Añadir Respuesta</button>
            <button type="button" class="btn btn-outline-danger mb5" (click)="removeComponentRadio()">Eliminar Respuesta</button>
            <hr>
            <template #radioComponent></template>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta &&   SI_NO" >
            <app-si-no></app-si-no>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta &&  PUNTAJE" >
            <app-puntaje></app-puntaje>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta && DESCRIPCION" >
            <app-descripcion></app-descripcion>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta && LISTA_DESPLEGABLE" >
            <button type="button" class="btn btn-outline-success mb5" (click)="addLista()">Añadir Respuesta</button>
            <button type="button" class="btn btn-outline-danger mb5" (click)="removeComponentLista()">Eliminar Respuesta</button>
            <hr>
            <template #listaComponent></template>
        </div>
        <br>
        <hr>
        <button class="btn btn-outline-success mb5 btn-rounded" (click)="setCategoriaPregunta()">
          Categoria y Tipo de Pregunta
        </button>


        <button class="btn btn-outline-success mb5 btn-rounded" (click)="visualizarPregunta()">
          Visualizar Pregunta
          </button>
      </div>
    </div>
  </div>
</div>

<swal #errorGuardar title="Datos Incompletos" text="Existen campos vacios 
                          y ademas debe elegir un tipo de respuesta"
                    type="error"></swal>

<swal #errorServidor
      title="Error en el servidor"
      text = "Existen problemas con el servidor, en estos momentos
              intentelo mas tarde"
      type = "warning"></swal>

<swal #guardadoExitoso
      title = "Envio Exitoso"
      text = "La pregunta sera revisada por miembros del comite, donde posteriormente
              se le notificara por correo si su pregunta ha sido aceptada, rechazada,
              o necesitará que se les haga algunos cambios"
      type = "success"></swal>
<swal #guardarPregunta 
      title = "Esta a punto de crear una nueva Pregunta!"
      text =  "Verifique que la pregunta que va enviar tenga total coherencia con la 
                categoria y etiqueta que usted definio, puede dar click en visualizar
                pregunta, para pre-visualizar su pregunta creada!"
      type = "warning"
      [showCancelButton]="true"
      [focusCancel]="true"
      (confirm)="guardarpregunta()"></swal>
