<div  fxLayoutAlign="center center" style="margin: 24px 0;">
    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">done</i>
        </a>
        <ul>
          <li class="waves-effect waves-light"><a (click)="visualizarPregunta()" ><i class="material-icons">pageview</i>Visualizar Pregunta</a></li>
          <li class="waves-effect waves-light"><a (click)="HabilitarBotonGuardar()" ><i class="material-icons">save</i>Guardar Pregunta</a></li>
        </ul>
      </div>

  <mat-card fxFlex="80%">
    <mat-card-header>
      <mat-card-title>Opciones de Preguntas</mat-card-title>
      <div fxLayout="row">
          <br>
          <div class="fixed-action-btn horizontal opcionesPregunta">
              <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
              </a>
      
              <ul>
                <li><a matTooltip="Casilla de Verificacion.-
                                   Permite que los encuestados elijan todas las opciones
                                   que corresponden a un rango o limite de opciones especificas que pueden seleccionar" 
                                   (click)="addTipoRespuesta('2')" class="btn-floating red"><i mz-icon-mdi [icon]="'checkbox-marked-outline'"></i></a></li>
                <li><a matTooltip="Opcion Multiple.-
                                  Elige solo una respuesta de la lista de opciones" (click)="addTipoRespuesta('1')" class="btn-floating yellow darken-1"><i mz-icon-mdi [icon]="'radiobox-marked'"></i></a></li>
                <li><a matTooltip="Menu Desplegable.-
                                  Incluye un menu desplegable con opciones de respuestas que los encuestados pueden elegir" (click)="addTipoRespuesta('5')" class="btn-floating green"><i mz-icon-mdi [icon]="'format-list-bulleted'"></i></a></li>
                <li><a matTooltip="Puntaje por rating.-
                                  Cuando deseas que un encuestado indique que piensa sobre algo,
                                  seleccionando un icono en una escala" (click)="addTipoRespuesta('4')" class="btn-floating blue"><i mz-icon-mdi [icon]="'star'"></i></a></li>
                <li><a matTooltip="Cuadro de texto simple.- Agrega un cuadro de texto
                                  simple a tu encuesta cuando quieras que los encuestados responda a esta pregunta con
                                  texto breve" (click)="addTipoRespuesta('6')" class="btn-floating green"><i mz-icon-mdi [icon]="'format-text'"></i></a></li>
                <li><a matTooltip="Opciones Si/No.- Es una opcion de respuesta simple, donde permite al encuestado elegir si o no con respecto a una pregunta" (click)="addTipoRespuesta('3')" class="btn-floating blue"><i mz-icon-mdi [icon]="'toggle-switch'"></i></a></li>
              </ul>
        </div>      
      </div>
    </mat-card-header>
    <app-add-label-categories></app-add-label-categories>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content fxLayout="column">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Ingresa tu pregunta..." #textDescriptionPregunta (keyup)="addDescripcion(textDescriptionPregunta.value)"></textarea>
      </mat-form-field>
      <div *ngIf="imgPregunta">
          <img  [src]="imgPregunta.url">
          <button mat-raised-button class="eliminarFoto" (click)="eliminarImagen()">Eliminar Imagen</button>
      </div>
  <button mat-raised-button class="anadirFoto" (click)="anadirFoto()">
      <mat-icon>insert_photo</mat-icon>
      anadir foto
  </button>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row">
        <div *ngIf="!existePregunta">
        </div>
        <div class="section respuesta1" *ngIf="existePregunta &&  CHECKBOX">
          <button type="button" mat-raised-button class="anadirAccion" (click)="addCasilla()">Añadir Respuesta</button>
          <button type="button" mat-raised-button class="eliminarAccion" (click)="removeComponentCasilla()">Eliminar Respuesta</button>
          <hr>
          <template #casillaComponent></template>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta && RADIOBUTTON">
          <button type="button"  mat-raised-button class="anadirAccion" (click)="addRadio()">Añadir Respuesta</button>
          <button type="button"  mat-raised-button class="eliminarAccion" (click)="removeComponentRadio()">Eliminar Respuesta</button>
          <hr>
          <template #radioComponent></template>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta &&   SI_NO">
          <app-si-no></app-si-no>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta &&  PUNTAJE">
          <app-puntaje></app-puntaje>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta && DESCRIPCION">
          <app-descripcion></app-descripcion>
        </div>
        <div class="section respuesta1" *ngIf="existePregunta && LISTA_DESPLEGABLE">
          <button type="button" mat-raised-button class="anadirAccion" (click)="addLista()">Añadir Respuesta</button>
          <button type="button" mat-raised-button class="eliminarAccion" (click)="removeComponentLista()">Eliminar Respuesta</button>
          <hr>
          <template #listaComponent></template>
        </div>

      </div>
    </mat-card-actions>
  </mat-card>

</div>

<swal #errorGuardar title="Datos Incompletos" text="Existen campos vacios 
                          y ademas debe elegir un tipo de respuesta" type="error"></swal>

<swal #errorServidor title="Error en el servidor" text="Existen problemas con el servidor, en estos momentos
              intentelo mas tarde" type="warning"></swal>

<swal #guardadoExitoso title="Envio Exitoso" text="La pregunta sera revisada por miembros del comite, donde posteriormente
              se le notificara por correo si su pregunta ha sido aceptada, rechazada,
              o necesitará que se les haga algunos cambios" type="success"></swal>
<swal #guardarPregunta title="Esta a punto de crear una nueva Pregunta!" text="Verifique que la pregunta que va enviar tenga total coherencia con la 
                              categoria y etiqueta que usted definio, puede dar click en visualizar
                              pregunta, para pre-visualizar su pregunta creada!" type="warning" [showCancelButton]="true" [focusCancel]="true"
                              (confirm)="guardarpregunta()"></swal>
<swal #imagenEliminada title="Imagen eliminada " text="La imagen que usted ha cargado se la eliminado de la base de datos"
                       type="success" [showConfirmButton]="true"></swal>
<swal #imagenNoEliminada title = "Imagen no eliminada" text="No se ha podido eliminar la imagen de la base de datos, intentelo mas tarde"
                         type="error" [showConfirmButton]="true"></swal>                       
                          
