<div class="modal fade" id="modalAddColaboradores" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anadir Colaboradores</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-8 m-b-15">
                    <select class="chosen selectpicker" multiple data-placeholder="Seleccione un Usuario..." data-live-search="true" id="Colaboradores">
                        <option value="Kevin Ortiz">
                        <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">KO</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Kevin Ortiz</div>
                        </div>
                        </option>
                        <option value="Juan Pablo">
                            <div class="pull-left">
                                <div class="avatar-char palette-Light-Blue bg">JP</div>
                            </div>
                            <div class="media-body">
                                <div class="lgi-heading">Juan Pablo</div>
                            </div>
                        </option>
                        <option value="Pedro Rodriguez">
                            <div class="pull-left">
                                <div class="avatar-char palette-Light-Blue bg">PR</div>
                            </div>
                            <div class="media-body">
                                <div class="lgi-heading">Pedro Rodriguez</div>
                            </div>

                        </option>
                        <option value="Thomas Aquino">
                            <div class="pull-left">
                                <div class="avatar-char palette-Light-Blue bg">TA</div>
                            </div>
                            <div class="media-body">
                                <div class="lgi-heading">Thomas Aquino</div>
                            </div>
                        </option>
                        <option value="Pedro Fuentes">
                            <div class="pull-left">
                                <div class="avatar-char palette-Light-Blue bg">PF</div>
                            </div>
                            <div class="media-body">
                                <div class="lgi-heading">Pedro Fuentes</div>
                            </div>
                        </option>
                        <option value="Silva Castro">
                            <div class="pull-left">
                                <div class="avatar-char palette-Light-Blue bg">SC</div>
                            </div>
                            <div class="media-body">
                                <div class="lgi-heading">Silva Castro</div>
                            </div>

                        </option>
                        <option value="Americio Thomas"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link guardarColaboradores">Guardar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>