{% extends "app/index.html" %}

{% block title %}Colaboradores{% endblock %}

{% block header %}
    {% include "app/header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "app/menu_lateral.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="c-header">
            <h2>Colaboradores de mi Aplicación</h2>
        </div>
        <div class="card">
            <div class="action-header palette-Teal-400 bg clearfix">
                <div class="ah-label hidden-xs palette-White text">Usuarios</div>
                <div class="ah-search">
                    <input type="text" placeholder="Start typing..." class="ahs-input">
                     <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                </div>
                <ul class="ah-actions actions a-alt">
                    <li>
                        <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refrescar</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#modalAddColaboradores">Añadir Usuarios</a>
                            </li>
                            <li>
                                <a href="">Eliminar Usuario</a>
                            </li>
                            <li>
                                <a href="">Eliminar Todos Los Usuarios</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="list-group lg-alt lg-even-black">
                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Light-Blue bg">P</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                        <small class="lgi-text">Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur.</small>
                    </div>
                </div>
                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Red-400 bg">D</div>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                        <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Green-400 bg">P</div>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                    </div>
                </div>
                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">J</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</div>
                        <small class="lgi-text">An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small>
                    </div>
                </div>
                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">I</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                        <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">R</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Wel ea elit iuvaret. Mea labitur definitiones ex, id atqui accusata vix, vim nibh mandamus ad</div>
                        <small class="lgi-text">Wendy create ipsum dolor sit amet, per cu solet docendi ntoenstion</small>
                    </div>
                </div>
                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">S</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>

                                </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">O</div>
                    </div>

                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                        <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                    </div>
                </div>
                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">R</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                        <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left lgi-checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="pull-left">
                        <div class="avatar-char palette-Purple-300 bg">R</div>
                    </div>
                    <div class="pull-right">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Editar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                    </div>
                </div>
            </div>

                        <ul class="pagination lg-pagination">
                            <li>
                                <a href="" aria-label="Previous">
                                    <i class="zmdi zmdi-chevron-left"></i>
                                </a>
                            </li>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li>
                                <a href="" aria-label="Next">
                                    <i class="zmdi zmdi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
        </div>

    </div>
{% include "usuarios/añadir_colaborador.html" %}
{% endblock %}

{% block script_portal %}
<script src="{% static 'js/actions.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
{% endblock %}