<div class="modal fade" id="modalAddColaboradores" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asignar Permisos a los Colaboradores</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-8 m-b-15 usuarios">
                    <select class="selectpicker" data-live-search="true" id="UsuariosRoles">
                        <option value="Kevin Ortiz">
                            <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">KO</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Kevin Ortiz</div>
                        </div>
                        </option>
                        <option value="Pedro Ortiz">
                            <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">PO</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Pedro Ortiz</div>
                        </div>
                        </option>
                        <option value="Thomas Aquino">
                            <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">TA</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Thomas Aquino</div>
                        </div>
                        </option>
                        <option value="Pedro Enrique">
                            <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">PE</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Pedro Enrique</div>
                        </div>
                        </option>
                        <option value="Juan Montufar">
                            <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">JM</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Juan Montufar</div>
                        </div>
                        </option>
                        <option value="Enrique Montufa">
                            <div class="pull-left">
                            <div class="avatar-char palette-Light-Blue bg">EM</div>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Enrique Montufa</div>
                        </div>
                        </option>
                    </select>
                </div>
                <div class="col-sm-3 m-b-16 opciones">
                     <select class="selectpicker" id="OpcionesPermisos">
                         <option value="Ver">Ver</option>
                         <option value="Editar">Editar</option>
                     </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link guardarColaboradores">Listo</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>