<div class="container">
  <div class="row">
    <mat-list>
      <mat-list-item *ngFor="let item of listaNotificacion">
        <img matListAvatar [src]="item?.usuario_emisor[0].urlImage">
        <h3 matLine> {{item?.usuario_emisor[0].nombre}} {{item?.usuario_emisor[0].apellido}}</h3>
        <p matLine>
          <span> Tipo de Notificacion: {{item?.tipo}}</span>
          <br>
          <span> Creado:{{item?.fecha_creacion | date : 'dd/MM/yyyy'}} </span>
        </p>
        <p matLine>
          <span>Correo: {{item?.usuario_emisor[0].correo}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>