
<link rel="stylesheet" href="../static/app/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/app/bower_components/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="../static/app/bower_components/flexslider/flexslider.css">
<link rel="stylesheet" href="../static/app/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="../static/app/owl-carousel/assets/owl.theme.default.css">
<link rel="stylesheet" href="../static/app/pe-icons/Pe-icon-7-stroke.css">
<link rel="stylesheet" href="../static/app/css/animacion.css">
<link rel="stylesheet" href="../static/app/css/style_app.css">
