<div class="container-fluid">
    <form class="formulario" class="row" [formGroup]="formularioDiscusion" (ngSubmit)="guardarDiscusion(formularioDiscusion.value,formularioDiscusion.valid)">
      <div class="col-8">
        <mat-form-field class="titulo-discusion">
          <input matInput placeholder="Ingrese un titulo" formControlName="titulo">
        </mat-form-field>
      </div>
        <mat-tab-group class="cuerpo-discusion">
          <mat-tab label="Cuerpo de la discusion">
            <div class="tab-content">
              <quill-editor [modules]="{formula: true, toolbar:[['bold', 'italic', 'underline', 'strike'],
                                        ['blockquote','code-block'],
                                        [{ 'header': 1 }, { 'header': 2 }],['formula'],
                                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                                        [{ 'color': [] }, { 'background': [] }]]}"
                            placeholder= "Ingrese una descripcion de minimo 80 palabras y maximo 160 palabras" 
                            formControlName="descripcion" 
                            (onContentChanged)="setTexto($event)">
              </quill-editor>
            </div>
          </mat-tab>
          <mat-tab label="Vista Previa">
            <div class="tab-content" [innerHtml]="vistaPrevia | saniarHtml">
            </div>
          </mat-tab>
        </mat-tab-group>
      <div class="col-6">
        <label>Etiquetas</label>
        <mat-form-field class="opciones">
          <mat-select placeholder="categorias" formControlName="etiquetas" multiple>
            <mat-option *ngFor="let item of opcionesEtiqueta" [value]="item.value">
              {{ item.descripcion }}
            </mat-option>
  
          </mat-select>
        </mat-form-field>
  
      </div>
      <div class="col-5">
        <label>Estado</label>
        <mat-form-field class="opciones">
          <mat-select placeholder="estado" formControlName="estado">
            <mat-option *ngFor="let estado of opcionesEstado" [value]="estado.value">
              {{ estado.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-8 botonGuardar">
          <button type="submit" mat-raised-button color="primary" [disabled]="!formularioDiscusion.valid">Guardar Discusion</button>
      </div>
    </form>
  </div>
  
  <swal
        #guardado
        title="Discusion generada con exito"
        text="Se ha generado una discusion de la pregunta seleccionada 
              y se le ha notificado al creador de la pregunta
              acerca de esta discusion"
        type="success"
        [showConfirmButton]="true">
  </swal>
  
  <swal
        #error
        title= "Error en la generacion de la discusion"
        text=  "Existe un problema en la generacion de la discusion
                de la pregunta que usted ha seleccionado"
        type="error"
        [showConfirmButton]="true">
  
  </swal>


  <swal
        #registroExistente
        title= "Pregunta ya validada"
        text=  "Estimado Usuario no puede validar dos veces una misma pregunta"
        type="question"
        [showConfirmButton]="true">
  
  </swal>