<!-- se cargan la lista de comentarios ya sea de una encuesta o pregunta -->

<div class="card">
    <div class="card-header">
        <h2>Comentarios</h2>
    </div>
    <div class="card-body card-padding">
        <div class="media-demo">
            <div class="media">
                <div class="html-editor"></div>
                </br>
                </br>
            </div>
            <div class="media">
                <div class="pull-left">
                    <a href="#">
                        <div class="avatar-char">KO</div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Kevin Ortiz</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <p><i class="zmdi zmdi-thumb-up zmdi-hc-fw">40</i></p> <p><i class="zmdi zmdi-thumb-down zmdi-hc-fw">4</i></p> <p><i class="zmdi zmdi-collection-text zmdi-hc-fw">0</i></p>
                </div>
            </div>

            <div class="media">
                <div class="pull-left">
                    <a href="#">
                        <div class="avatar-char">JO</div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Jorge Ortiz</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <p><i class="zmdi zmdi-thumb-up zmdi-hc-fw">40</i></p> <p><i class="zmdi zmdi-thumb-down zmdi-hc-fw">4</i></p> <p><i class="zmdi zmdi-collection-text zmdi-hc-fw">0</i></p>
                </div>
            </div>

            <div class="media">
                <div class="pull-left">
                    <a href="#">
                        <div class="avatar-char">PO</div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Pedro Ortiz</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <p><i class="zmdi zmdi-thumb-up zmdi-hc-fw">40</i></p> <p><i class="zmdi zmdi-thumb-down zmdi-hc-fw">4</i></p> <p><i class="zmdi zmdi-collection-text zmdi-hc-fw">0</i></p>
                </div>
            </div>

            <div class="media">
                <div class="pull-left">
                    <a href="#">
                        <div class="avatar-char">TO</div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Thomas Ortiz</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <p><i class="zmdi zmdi-thumb-up zmdi-hc-fw">40</i></p> <p><i class="zmdi zmdi-thumb-down zmdi-hc-fw">4</i></p> <p><i class="zmdi zmdi-collection-text zmdi-hc-fw">0</i></p>
                </div>
            </div>

            <div class="media">
                <div class="pull-left">
                    <a href="#">
                        <div class="avatar-char">RO</div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Rodriguez Ortiz</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <p><i class="zmdi zmdi-thumb-up zmdi-hc-fw">40</i></p> <p><i class="zmdi zmdi-thumb-down zmdi-hc-fw">4</i></p> <p><i class="zmdi zmdi-collection-text zmdi-hc-fw">0</i></p>
                </div>
            </div>

            <div class="media">
                <div class="pull-left">
                    <a href="#">
                        <div class="avatar-char">EO</div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Enrique Ortiz</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <p><i class="zmdi zmdi-thumb-up zmdi-hc-fw">40</i></p> <p><i class="zmdi zmdi-thumb-down zmdi-hc-fw">4</i></p> <p><i class="zmdi zmdi-collection-text zmdi-hc-fw">0</i></p>
                </div>
            </div>

        </div>


    </div>
</div>


