


<div fxLayout="column" fxLayoutAlign="center stretch">
  
  <div fxLayout="row" fxLayout.gt-md="row" fxFlex="100%" fxFlex.gt-sm fxLayoutAlign="center">
    <h5>{{informacion}}</h5>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
    
    <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100%" fxFlex.gt-sm>
      <app-widget-comentarios  [options]="usuarioActivos"  fxFlex="100%" fxFlex.gt-sm></app-widget-comentarios>
      <app-widget-comentarios  [options]="encuestasVisitadas"  fxFlex="100%" fxFlex.gt-sm></app-widget-comentarios>

    </div>
    
    <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100%" fxFlex.gt-sm>
      <app-widget-comentarios  [options]="preguntasComentadas"  fxFlex="100%" fxFlex.gt-sm></app-widget-comentarios>
      <app-widget-comentarios  [options]="comentariosAcertados"  fxFlex="100%" fxFlex.gt-sm></app-widget-comentarios>

    </div>
  
  </div>
  
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch">
    <app-widget-discusiones [options]="preguntas" [id]="idUsuario" fxFlex="49%" fxFlex.gt-sm></app-widget-discusiones>
  </div>
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch">
    <app-widget-encuestas  [options]="encuesta" [id]="idUsuario" fxFlex="49%" fxFlex.gt-sm></app-widget-encuestas>
  </div>
  
  <div fxLayout="row">
    <app-widget-colaboradores [id]="idUsuario"></app-widget-colaboradores>
  </div>
</div>
