.tamano{
    font-size: 40px;
    color: white;
}

.medium{
    font-size: 30px;
    color:green;
}

.actividadesPreguntas{
    position: relative;
    bottom: 390px;
    left: 499px;
    height: auto;
}

.actividadesEncuestas {
    position: relative;
    bottom: 390px;
    height: auto;
    left: 100px;
    width: 1000px;
    
}