<div class="container">
    <div class="page-title pt30 pb30">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="text-center">Bienvenido {{ nombre }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
          <button class="icon-rocket btn btn-icon btn-lg btn-success" style="position:relative;left:8px;" >
            <a href="">
              <i class="fas fa-rocket tamano"></i>
            </a>
          </button>
            <p><b>Diseña tu encuesta</b></p> 
      </div>
      <div class="col-sm-3">
          <button class="btn btn-icon btn-lg btn-success" style="position:relative;left:18px;" >
          <a href="">
            <i class="fas fa-bullhorn tamano"></i>   
          </a>
          </button> 
          <p><b>Comparte tu encuesta</b></p>
      </div>
      <div class="col-sm-3">
          <button class="btn btn-icon btn-lg btn-success" style="position:relative;left:8px;" >
          <a [routerLink]="['/home','agregarPregunta']">
            <i class="fas fa-pencil-alt tamano"></i>
          </a>
          </button>
          <p><b>Diseña tu pregunta</b></p>
      </div>
      <div class="col-sm-3">
          <button class="btn btn-icon btn-lg btn-success" style="position:relative;left:48px;">
            <a href="">
            <i class="far fa-comment-alt tamano"></i> 
            </a>  
          </button>                             
          <p><b>Crea Discusiones de preguntas</b></p>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card"  data-toggle="tooltip" title="Crea encuestas con preguntas existentes" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="far fa-edit medium" style="color:green"></i>
                                  <h5 style="color:green">Crear Nueva Encuesta</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Visualiza tus Encuestas y los cambios que se han hecho a lo largo del tiempo" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fa fa-eye medium" style="color:green"></i>
                                  <h5 style="color:green">Ver mis Encuestas</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Comenta y crea Discusiones de Encuestas de otros Usuarios" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="far fa-copy medium" style="color:green"></i>
                                  <h5 style="color:green">Portal de Encuesta</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card"  data-toggle="tooltip" title="Visualiza los diferentes tipos de discusiones que otros usuarios han realizado a tus encuestas" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fas fa-eraser medium" style="color:green"></i>
                                  <h5 style="color:green">Discusiones de Encuestas</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                              <div class="col-md-3 mb30 text-center">
                                  <div class="icon-card"  data-toggle="tooltip" title="Crea una nueva pregunta, para que la comunidad lo discuta y te regalen nuevas ideas" style="border-style:solid;border-color:green">
                                    <a href="">
                                          <i class="fa fa-question-circle medium" style="color:green"></i>
                                          <h5 style="color:green">Crear Nueva Pregunta</h5>
                                    </a>
                                  </div>
                              </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Visualiza las preguntas que has creados, los comentarios que han realizado otros usuario y su estado" style="border-style:solid;border-color:green" >
                                <a href="">
                                  <i class="fa fa-road medium" style="color:green"></i>
                                  <h5 style="color:green">Ver mis Preguntas</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Visualiza los diferentes discusiones que se han creado acerca de las preguntas propuestas" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fas fa-thumbs-down medium" style="color:green"></i>
                                  <h5 style="color:green">Discusiones de preguntas</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Comenta y crea Discusiones de Preguntas de otros Usuarios" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fa fa-graduation-cap medium" style="color:green"></i>
                                  <h5 style="color:green">Portal de Preguntas</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Añade,elimina y visualiza a tus colaboradores de encuestas" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fa fa-users medium" style="color:green"></i>
                                  <h5 style="color:green">Ver colaboradores</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Permite que tus colaboradores puedan comentar o editar tus encuestas" style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fa fa-share-alt medium" style="color:green"></i>
                                  <h5 style="color:green">Compartir Encuestas</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Visualiza los comentarios que han realizado otros usuarios a tus encuestas y preguntas"  style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="fab fa-telegram-plane medium" style="color:green"></i>
                                  <h5 style="color:green">Ver Mensajes de usuarios</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                          <div class="col-md-3 mb30 text-center">
                              <div class="icon-card" data-toggle="tooltip" title="Visualiza los eventos que han creado otros usuarios sobre tus encuestas y preguntas como son discusiones "  style="border-style:solid;border-color:green">
                                <a href="">
                                  <i class="far fa-comments medium" style="color:green"></i>
                                  <h5 style="color:green">notificaciones de Usuarios</h5>
                                </a>
                              </div>
                          </div><!--/col-->
                      </div>
                  </div>
              </div>
          </div>
</div>