$color__inactive: #616161;
$color__primary: #3F51B5;
$color__read: #9F9F9F;
$color__checkbox__star: #616161;

$height__search__title: 56px;
$margin-top__search__title: 42px;





.search {
    background: white;
    margin-top: $margin-top__search__title;
    min-height: $height__search__title;
    max-height: $height__search__title;

    mat-icon {
      vertical-align: middle;
      margin-right: 14px;
      margin-left: 16px;
    }

    input {
      border: 0;
      height: $height__search__title;
      outline: none;
    }
  }
